@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-main: var(--font-montserrat);
}

@theme {
  /* Colors */
  --color-primary: #00072d;
  --color-secondary: #a6e1fa;
  --color-accent-1: #dfcc74;
  --color-accent-2: #c3e991;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility h1 {
  font-size: 3rem;
  font-weight: 700;
}

@utility h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

@utility h3 {
  font-size: 2rem;
  font-weight: 600;
}

@utility h4 {
  font-size: 1.75rem;
  font-weight: 600;
}

@utility h5 {
  font-size: 1.5rem;
  font-weight: 500;
}

@utility subtitle {
  font-size: 1.25rem;
  font-weight: 500;
}

@utility body {
  font-size: 1rem;
  font-weight: 400;
}

@utility body-small {
  font-size: 0.875rem;
  font-weight: 400;
}

@utility center {
  @apply flex justify-center items-center;
}

body {
  background: var(--background);
  color: var(--foreground);
}
